.navbar-brand{
    font-family: Jost, sans-serif;
    font-size: 24px;
    color: rgba(127, 78, 66, 1);
    font-style: italic;
}
.navbar-nav .nav-link{
    font-family: Jost, sans-serif;
    font-size: 15px;
    color: black;
    font-style: italic;
}
.dropdown-menu{
    font-family: Jost, sans-serif;
    font-size: 15px;
    color: black;
    font-style: italic;
}
